body {
  background: url(devappmobile.jpg) no-repeat center bottom;
background-size: cover;
background-attachment: fixed;
min-width: 1000px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  opacity: 0.8;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn:hover .dropdown1:hover {
    background-color: #B94807;;
}

li.dropdown .dropdown1{
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {  background-color: #B94807;}

.dropdown:hover .dropdown-content {
  display: block;
}

.CT1{
  text-align: center;
   color: #E9E9E9;
   text-shadow: 2px 2px 2px black;


}

.CT{
  color: #B94807;
  text-shadow: 1px 1px 2px black;

}

h2{
    
  text-align: center;
font-style: italic;
text-shadow: 2px 2px 2px black;
}


#menu-bar {
  cursor: pointer;
}


 
 @media screen and (max-width:460px) {
  .option{width:80%;margin-top:5%;}
 } 
